
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-ul {
    display: flex;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-container {
    display: flex;
    flex-direction: column;
}

#hero-img {
    /* Placeholder width and height */
    height: 225px;
    width: 500px;
}

main{
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 150px;
    text-align: center;
    margin: 28px;
}

.quote {
    display: flex;
    flex-direction: column;
}

#quote-author {
    text-align: end;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
}